<div id="fancyReturn">
<%= form_for(@link) do |l| %>
	<table>
		<tr>
			<td><%= l.label :name, "Name", {:class=>"formText"} %></td>
			<td><%= l.text_field :name, {:id=>"name", :class=>"formBox"} %></td>
		</tr>
		<tr>
			<td><%= l.label :url, "Link", {:class=>"formText"} %></td>
			<td><%= l.text_field :url, {:id=>"url", :class=>"formBox"} %></td>
		</tr>
		<tr>
			<td><%= l.label :description, "Description", {:class=>"formText"} %></td>
			<td><%= l.text_field :description, {:id=>"description", :class=>"formBox"} %></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><%= l.submit 'Add Link' %></td>
		</tr>
	</table>
<% end %>
</div>